* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

button {
  font-family: inherit;
}

.container {
  --color-0: #fff;
  --color-1: #000;
  --color-2: #222;
  --color-3: #333;
  --color-4: #2e2e2e;
  --color-5: #d2b48c;
  --color-6: #b22222;
  --color-7: #871a1a;
  --color-8: #ff6347;
  --color-9: #ff3814;
  position: absolute;
  width: 100%;
  height: 62%;
  background-color: var(--color-1);
  background-image: url("../assets/equipo-bn.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: top;
}

.container:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: var(--color-1);
  background-image: url("../assets/equipo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  clip-path: circle(8% at center center);
  animation: flashlight 20s ease infinite;
  background-position-y: top;
}

h1 {
  color: aliceblue;
  font-size: 50px;
}

p {
  color: aliceblue;
}

.separador {
  height: 100px;
  width: -webkit-fill-available;
  display: block;
}

@keyframes flashlight {
  0% {
    clip-path: circle(8% at -25% 10%);
  }

  38% {
    clip-path: circle(8% at 60% 20%);
  }

  39% {
    opacity: 1;
    clip-path: circle(8% at 48% 50%);
  }

  40% {
    opacity: 0;
    clip-path: circle(8% at 48% 50%);
  }

  41% {
    opacity: 1;
    clip-path: circle(8% at 48% 50%);
  }

  42% {
    opacity: 0;
    clip-path: circle(8% at 48% 50%);
  }

  54% {
    opacity: 0;
    clip-path: circle(8% at 48% 50%);
  }

  55% {
    opacity: 1;
    clip-path: circle(8% at 48% 50%);
  }

  59% {
    opacity: 1;
    clip-path: circle(8% at 48% 50%);
  }

  64% {
    clip-path: circle(8% at 48% 45%);
  }

  68% {
    clip-path: circle(8% at 85% 60%);
  }

  72% {
    clip-path: circle(8% at 60% 50%);
  }

  74% {
    clip-path: circle(8% at 60% 50%);
  }

  100% {
    clip-path: circle(8% at 150% 50%);
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {

  @keyframes flashlight {
    0% {
      clip-path: circle(10% at -25% 8%);
    }

    38% {
      clip-path: circle(10% at 60% 8%);
    }

    39% {
      opacity: 1;
      clip-path: circle(10% at 46% 25%);
    }

    40% {
      opacity: 0;
      clip-path: circle(10% at 46% 25%);
    }

    41% {
      opacity: 1;
      clip-path: circle(10% at 46% 25%);
    }

    42% {
      opacity: 0;
      clip-path: circle(10% at 46% 25%);
    }

    54% {
      opacity: 0;
      clip-path: circle(10% at 46% 25%);
    }

    55% {
      opacity: 1;
      clip-path: circle(10% at 46% 25%);
    }

    59% {
      opacity: 1;
      clip-path: circle(10% at 46% 25%);
    }

    64% {
      clip-path: circle(10% at 46% 20%);
    }

    68% {
      clip-path: circle(10% at 85% 30%);
    }

    72% {
      clip-path: circle(10% at 60% 25%);
    }

    74% {
      clip-path: circle(10% at 60% 25%);
    }

    100% {
      clip-path: circle(10% at 150% 25%);
    }
  }
}

/* Minitablet */
@media (max-width: 767px) {

  .separador {
    height: 100px;
    width: -webkit-fill-available;
    display: block;
    margin-bottom: 10px;
  }

  .container {
    margin-top: 50px;
  }

  @keyframes flashlight {
    0% {
      clip-path: circle(10% at -25% 8%);
    }

    38% {
      clip-path: circle(10% at 60% 8%);
    }

    39% {
      opacity: 1;
      clip-path: circle(10% at 46% 25%);
    }

    40% {
      opacity: 1;
      clip-path: circle(10% at 46% 25%);
    }

    42% {
      opacity: 0;
      clip-path: circle(10% at 46% 25%);
    }

    43% {
      opacity: 1;
      clip-path: circle(10% at 46% 25%);
    }

    44% {
      opacity: 0;
      clip-path: circle(10% at 46% 25%);
    }

    54% {
      opacity: 0;
      clip-path: circle(10% at 46% 25%);
    }

    55% {
      opacity: 1;
      clip-path: circle(10% at 46% 25%);
    }

    59% {
      opacity: 1;
      clip-path: circle(10% at 46% 25%);
    }

    64% {
      clip-path: circle(10% at 46% 20%);
    }

    68% {
      clip-path: circle(10% at 85% 30%);
    }

    72% {
      clip-path: circle(10% at 60% 25%);
    }

    74% {
      clip-path: circle(10% at 60% 25%);
    }

    100% {
      clip-path: circle(10% at 150% 25%);
    }
  }
}